In [11]:
# Import dependencies & setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

import json
import gmaps


# Import API key
from API_Key_Holder import Z_API_Key

In [13]:
# Save path to data set in a variable
data_file = "Zillow_Home_Value_Index_2019_August.csv"

# Use Pandas to read data
data_file_pd = pd.read_csv(data_file)
data_file_pd.head(10)

      Region Median Home Value No. Homes  Unnamed: 3  Unnamed: 4  Unnamed: 5
0      North         $340,157    22,357          NaN         NaN         NaN
1  Northwest         $408,116    20,929          NaN         NaN         NaN
2  Northeast         $229,515     9,429          NaN         NaN         NaN
3  Southeast         $218,866     5,000          NaN         NaN         NaN
4   Downtown         $406,902    10,214          NaN         NaN         NaN
5  Southwest         $497,774    17,357          NaN         NaN         NaN
6        NaN               NaN       NaN         NaN         NaN         NaN

In [18]:
df = data_file_pd[["Region", "Median Home Value"]]
df

      Region Median Home Value
0      North         $340,157
1  Northwest         $408,116
2  Northeast         $229,515
3  Southeast         $218,866
4   Downtown         $406,902
5  Southwest         $497,774
6        NaN               NaN

In [19]:
df = df.dropna(how='all')
df

      Region Median Home Value
0      North         $340,157
1  Northwest         $408,116
2  Northeast         $229,515
3  Southeast         $218,866
4   Downtown         $406,902
5  Southwest         $497,774

In [5]:
# Sources:
fig = gmaps.figure()
# fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
heat_layer = gmaps.heatmap_layer()